.productos-destacados{
  background-color: #faf9f9;
}

.card-producto{
  width: 15% !important;
}

.title-productos-destacados{
  color: #fe0000;
}

.card-group{
  flex-wrap: wrap;
}

.btn-verproductos{
  background-color: #55a630;
  color: white;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .title-producto{
    font-size: 2vh;
  }
  .card-producto{
    width: 15%;
  }
}

@media (max-width: 767.98px){
  .card-group{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .card-producto{
    width: 40%;
    justify-content: center !important;
  }
  .categorias{
    display: block !important;
  }
  .boton-categorias{
    width: 40vh !important;
  }
  .dropdown-categorias{
    width: 40vh !important;
  }
}