.login-page{
  height: 100vh;
  background-image: url(../assets/images/cover3.png);
  background-size: 50vh 50vh;
  background-position: center;
  background-repeat: repeat;
}

.text-login{
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
}

.buttonvolver{
  background-color: #55a630;
}