.cardventa-titulo{
  font-size: 4vh;
  word-wrap: break-word;
  height: 10vh;
}

.cardventa-descripcion{
  font-size: 3vh;
  word-wrap: break-word;
}

@media (max-width: 767.98px) {
  .cardventa-titulo{
   font-size: 2.2vh;
 }
 .cardventa-descripcion{
   font-size: 1.7vh;
 }
}

@media (min-width: 768px) and (max-width: 991.98px){
 .cardventa-titulo{
   font-size: 2.5vh;
 }
 .cardventa-descripcion{
   font-size: 2vh;
 }
   }
