.carousel-height{
  height: 95vh;
}

.logo-carousel{
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 0.01vh;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .carousel-height{
    height: 45vh;
  }
  .logo-carousel{
   top: 20%;
  }
  .hojas-carousel{
    width: 80%;
  }
}

@media (max-width: 767.98px) {
  .carousel-height{
   height: 34%; 
  }
  .logo-carousel{
    top: 18vh;
   }
   .hojas-carousel{
     width: 90%;
   }
}