.footer{
  background-color: #FE0000;
  text-shadow: -5px 4px 9px rgba(0,0,0,0.81);
}

@media (min-width: 768px) and (max-width: 991.98px){
  .mapa{
    width: 33vh;
  }
}

@media (max-width: 767.98px) {
  .area-contacto{
    display: inline-block !important;
  }
  .mapa{
    width: 40vh;
    padding: 0px !important;
    margin: 0px !important;
  }
 }