@font-face {
  font-family: Title;
  src: url(./assets/fonts/GillKayoCondensedPlain.otf);
}

@font-face {
  font-family: Body;
  src: url(./assets/fonts/Signika-VariableFont_wght.ttf);
}

@font-face {
  font-family: Subtitle;
  src: url(./assets/fonts/Fenway\ Park\ JF\ Regular.ttf);
}

h1,
h2,
h3 {
  font-family: Title;
}

body {
  font-family: Body;
  text-align: center;
  background-image: url(../src/assets/images/cover1.png);
  background-repeat: repeat;
  background-size: 50vh 50vh;
  background-position: center;
}

input,
textarea,
.btn,
.mapa {
  box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.btn {
  text-shadow: -3px 2px 7px rgba(0, 0, 0, 0.81);
  background-color: #fe0000;
}

.card-producto {
  box-shadow: -2px 1px 9px 0px rgba(0, 0, 0, 0.75);
}

.card-producto:hover {
  transition: all 0.2s;
  transform: scale(1.03);
  color: black;
}

.btn:hover {
  transition: all 0.2s;
  transform: scale(1.05);
  background-color: #ffdd00 !important;
  color: white;
}

.button-back {
  background-color: #abcc01;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #abcc01;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #abcc01;
}
::-webkit-scrollbar-thumb:active {
  background: #ffdd00;
}
::-webkit-scrollbar-track {
  background: #fe0000;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #fe0000;
}
::-webkit-scrollbar-track:active {
  background: #fe0000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
