@font-face {
  font-family: Title;
  src: url(./assets/fonts/GillKayoCondensedPlain.otf);
}

@font-face {
  font-family: Body;
  src: url(./assets/fonts/Signika-VariableFont_wght.ttf);
}

@font-face {
  font-family: Subtitle;
  src: url(./assets/fonts/Fenway\ Park\ JF\ Regular.ttf);
}

h1,h2,h3{
  font-family: Title ;
}

body {
  font-family: Body;
  text-align: center;
  background-color: #fe0000;
}

input, textarea, .btn, .mapa{
box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.75);
}

.btn{
  text-shadow: -3px 2px 7px rgba(0,0,0,0.81);
  background-color: #d30d0e;
}

.card-producto{
  box-shadow: -2px 1px 9px 0px rgba(0,0,0,0.75);
}

.card-producto:hover{
  transition: all .2s;
  transform: scale(1.03);
  color: black;
}

.btn:hover{
    transition: all .2s;
    transform: scale(1.05);
    background-color: #FFDD00 !important;
    color: white;
}